@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Hobby Page</h1>
    <h2>My favorite hobby is Mountain Biking</h2>
    <img src="img/IMG_2476.jpg" height="400px" />
    <p>I like to ride with my family</p>
    <img src="img/IMG_8185.jpg" height="400px" />
    <p>I've done it ever since I was young</p>
</div>