@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Hobby Page</h1>
    <h2>My favorite hobby is Mountain Biking</h2>
    <img src="img/me.jpg" height="400px" />
    <p>I've done it ever since I was young</p>
    <img src="img/family.jpg" height="400px" />
    <p>I like to ride with my family</p>
    <img src="img/friends.jpg" height="400px" />
    <p>And I like to ride with my friends</p>
    <p>Utah has lots of great trails and I love exploring them and spending time outdoors</p>
</div>